.inventory-root {
    padding: 10px 80px;
}

.inventory-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .inventory-root {
        padding: 8px;
    }

    .inventory-header {
        gap: 8px;
        margin-bottom: 6px;
    }
}